<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form method="post" action="gores">
           {% csrf_token %}
 <div class="col-12 col-12-small">
  <li style="font-size:26px;">당신의 성별은?</li>
 </div>
 <div class="col-12 col-12-small">
 <select name="gender" >
  <option value="none">선택</option>
  <option value="1">남자</option>
  <option value="2">여자</option>
 </select></div>

 <div class="col-12 col-12-small">
  <li style="font-size:26px;">당신의 나이를 입력해주세요</li>
 </div>
 <div class="col-12 col-12-small">
  <input type="text" name="age" placeholder="숫자만 입력해주세요">
 </div>

 <div class="col-12 col-12-small">
 <li style="font-size:26px;">여행 예상경비를 입력해주세요</li>
 </div>
 <div class="col-12 col-12-small">
  <input type="text" name="pay" placeholder="숫자만 입력해주세요">
 </div>

 <div class="col-12 col-12-small">
  <li style="font-size:26px;">어떤 여행을 좋아하시나요?</li>
 </div>
 <div class="col-12 col-12-small">
  <select name="kind" >
   <option value="none">선택</option>
   <option value="1">많이 걷는 여행</option>
   <option value="2">경치 좋은곳을 위주로 다니는 여행</option>
   <option value="3">주변에서 모든것을 해결하는 여행</option>
   <option value="4">즉흥 여행</option>
  </select></div>

 <div class="col-12 col-12-small">
  <li style="font-size:26px;">좋아하는 계절은?</li>
 </div>
 <div class="col-12 col-12-small">
  <select name="season" >
   <option value="none">선택</option>
   <option value="1">봄</option>
   <option value="2">여름</option>
   <option value="3">가을</option>
   <option value="4">겨울</option>
  </select>
    </div>

 <div class="col-12 col-12-small">
  <li style="font-size:26px;">좋아하는 취미는?</li>
 </div>
 <div class="col-12 col-12-small">
  <select name="hobby" >
   <option value="none">선택</option>
   <option value="1">등산</option>
   <option value="2">육체적인 레포츠</option>
   <option value="3">수영</option>
   <option value="4">낚시</option>
  </select>
    </div>

 <div class="col-12 col-12-small">
  <li style="font-size:26px;">예상 여행기간은 어느정도인가요?</li>
 </div>
 <div class="col-12 col-12-small">
  <select name="term" >
   <option value="none">선택</option>
   <option value="1">당일치기</option>
   <option value="2">1박 2일</option>
   <option value="3">2박 3일</option>
   <option value="4">3박 이상</option>
 </select>
    </div>
    <div class="col-12">
        <ul class="actions">
            <li><input type="submit" value="Send Message" class="primary" /></li>
            <li><input type="reset" value="Reset" /></li>
        </ul>
    </div>
 </form>
</body>
</html>